HOST=0.0.0.0
PORT=1337
DATABASE_URI=mongodb://user:studnia0dna@howly-db-shard-00-00.ly4wa.mongodb.net:27017,howly-db-shard-00-01.ly4wa.mongodb.net:27017,howly-db-shard-00-02.ly4wa.mongodb.net:27017/howly-db?ssl=true
