@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
.app {
  height: 100vh;
  background: #e0e5eb;
}
.letter-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.letter {
  position: absolute;
  width: 200px;
  transform: rotate(20deg);
  font-family: 'Roboto', sans-serif;
  font-size: 30em;
  font-weight: 900;
  color: #e0e5eb;
  text-shadow: -8px -8px 20px rgba(247, 247, 247, 0.3),
    12px 6px 20px rgba(0, 0, 0, 0.04);
  caret-color: #262626;
  outline: none;
  &_s {
    left: -25%;
    bottom: 10%
  }
  &_w {
    right: -40%;
    top: -10%
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 900 !important;
}
