

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.app {
  height: 100vh;
}
html {
  background: #e0e5eb;
  height: 100vh !important;
}
.letter-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.letter {
  position: absolute;
  width: 200px;
  transform: rotate(20deg);
  font-family: 'Roboto', sans-serif;
  font-size: 30em;
  font-weight: 900;
  color: #e0e5eb;
  text-shadow: -8px -8px 20px rgba(247, 247, 247, 0.3),
    12px 6px 20px rgba(0, 0, 0, 0.04);
  caret-color: #262626;
  outline: none;
  &_s {
    left: -25%;
    bottom: 10%
  }
  &_w {
    right: -40%;
    top: -10%
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-muted { color: #6c757d!important; }

.small {
 font-size: 65%;
}

.bold {
  font-weight: 900 !important;
}
.container {
 display: flex
};

.justify-content {
  &-center {
    justify-content: center;
 }
}

.m {
  &y- {
     &1 {
        margin-top: 1em;
        margin-bottom: 1em;
     }
    &2 {
        margin-top: 2em;
        margin-bottom: 2em;
     }
    &3 {
        margin-top: 3em;
        margin-bottom: 3em;
     }
  }
}
